html{
    font-size: 20px;
}
body{
    background-color: green;
}
#completeGrid{
    display: grid;
    grid-auto-flow: column;
    height: 28rem;
    width: 28rem;
    background-color: #ffffff;
}
.square{
    background-color: #ffffff;
}